/*
base.css
layout.css
typography.css

drawback is siteprefornce, takes a new request
*/

@import "secondstylesheet";

* {
  box-sizing: border-box;  /* forces any padding and borders into the width and height of an element instead of expanding it. */
}

body {
  margin: 0; /* marign along side of document*/
  background: rgb(27,27,27);
  font-family: "Chronicle Display", Georgia, sans-serif;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

nav {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding-top: 30px;
  padding-bottom: 30px;
}

nav > ul > li {
  list-style: none;
  display: inline-block;

}
h1 {
  font-size: 62px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;

}
h4 {
    font-size: 22px;
}

h1,h3,h4,p,li,h2, label {
  color:rgb(242,242,242);
  font-weight: 400;
}

a {
  color: pink;
}



#cover {
  height: 101vh;
  background-image: url('../assets/acadianightsky.jpg');
  background-size: cover;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  align-items:center;
} 


.cover-content {
  
  text-align: center;
}

#onehundred {
  height: 100px;
  display: inline;
  vertical-align: middle;
  padding-top: 20px;
}


#headShot  {
  border-radius: 100%;
  float: right;

}
#introduction {
  padding-top: 30px;
  padding-bottom: 60px;
}
#introduction p {
  width: 65%;
  font-size: 18px;
  line-height: 22px;
} 
.section-wrapper {
  width: 90%;
  margin: 0 auto;
}

.clearfix {
  overflow: auto;
}

#skills {
  background-image: url('../assets/services-xl.jpg');
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);

}
#technology-list {
  height: 500px;
  color:white;
  font-size:24px;
  display: flex;
  flex-wrap: wrap;
 
}

#technology-list i {
  font-size: 42px;
}

.icon {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30%;       /* this needs to be addressed*/
  margin: 0 auto;
}
.icon p  {
  margin-top: 12px;
}

#experience {

}

/*#projects {
  height: 50vh;

}*/

#other_interests {

}
.layer {
    background-color: rgba(24, 24, 21, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***

Projects

***/


/*.projectLeft {
  display: inline-block;
  border: solid 1px green;
  background-image: url('../assets/WikiWebScreenShot.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 200px;
}*/

.projectLeft {
  margin: 5px;
}
#wikiWebDescription {
/*  border: solid 1px blue;
*/  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#wikiWebDescription img { 
  margin-top: 20px;
  display: inline-block;
}
#wikiWebDescription h2 { display: inline-block}
#wikiWebDescription p { font-size: 18px;}
#wikiWeb {
  padding-top: 10px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 90%;
  margin: 0 auto; ,       /*this needs to be worked out*/
  border: solid 2px red;
}


/*width 560 height 315*/
#wikiWebVideo {
  margin: 5px;
}

#memeStore {
  border: solid red 1px;
}


#memeStore  {
  text-align: center;
}

/*#memeStore div {
  border: solid 3px blue;
  width: 90%;
  margin:0 auto;       
  vertical-align: top;
}*/



.projectRight {
  display: inline-block;
  border: solid 3px red;
  padding: 50px;
}




/***

Contact Form

***/

.contact {
  text-align: center;
  background-image: url('../assets/sanfran.jpg');
  background-size: cover;
  box-shadow: inset 0 0 0 500px rgba(36, 70, 105, 0.74);
}

#contactWrapper {
  border: solid 2px green;
  padding: 40px;
}


#emailForm  {
  margin: 10px;
}

#form {
  width: 50%;
  margin: 0 auto;
}

.formEntry {
  display: block;
  width: 90%;
  margin-top:10px;
  margin: 10px auto;
  background: transparent;
  color: white;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 2px solid #707070;

}

.formEntry::placeholder {
  color: white;
}

.formButton {
  border: solid 2px #0fb8ad;
  width:30%;
  color: #0fb8ad;
  border-radius: 3px;
  padding: 10px;
}

#footer {
  padding-top: 50px;
  padding-bottom: 50px;

  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
}

#footer {
    text-align: center;
}

#footer ul { /*-webkit-padding-start: 40px; */
  padding-left: 0px;
}

#footer li {
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}


/* 
Media Query
*/


  @media (min-width: 769px) {
   
/*  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }*/
    #introduction {
    } 

    .container {
      width: 100%;
      max-width: 1000px; 
      margin: 0 auto;
      min-height: 90vh-100px; 

    }
  }

